body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  background: linear-gradient(#e2eaf8, #f1f6ff);
}
h1 {
  color: #1fbca5;
  font-size: 24px;
  text-align: center;
  padding: 15px 20px;
  margin: 60px 0 0;
}
.weather-app {
  border: 1px solid #7c52ef;
  border-radius: 40px;
  background: white;

  padding: 20px;
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.button {
  border-radius: 4px;
  color: #7c52ef;
  border: 1px solid #7c52ef;
}
.search-button {
  color: #1fbca5;
  border-radius: 4px;
  border: 1px solid #7c52ef;
}
.current-location-button {
  color: #1fbca5;
  border-radius: 4px;
  border: 1px solid #7c52ef;
}
